body {
  margin: 0;
  background: midnightblue;
}
#clock-container {
  display: inline-block;
  position: relative;
  width: 20%;
  padding-bottom: 100%;
  vertical-align: middle;
  overflow: hidden;
  background: midnightblue;
}
#face { stroke-width: 2px; stroke: #fff; }
#hour, #min, #sec {
  stroke-width: 1px;
  fill: #333;
  stroke: #555;
}
#sec { stroke: #f55; }
